<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JWT" value=""/>
    <add key="ClientID" value="" />
    <add key="ClientSecret" value="" />
    <add key="RedirectURL" value="WebexSdkWinUnitTest://redirect" />
    <add key="TestFixtureAppAddress01" value=""/>
	<add key="TestFixtureAppAddress02" value=""/>
    <add key="AdminClientID" value="" />
    <add key="AdminSecret" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITestFixtureService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/TestFixtureService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestFixtureService" contract="ServiceReference.ITestFixtureService" name="TestFixtureService1" />
	  <endpoint address="http://localhost:8734/TestFixtureService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestFixtureService" contract="ServiceReference.ITestFixtureService" name="TestFixtureService2" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>